[submodule "libs/_libs_src/glfw"]
	path = libs/_libs_src/glfw
	url = https://github.com/glfw/glfw.git
[submodule "libs/_libs_src/glm"]
	path = libs/_libs_src/glm
	url = https://github.com/g-truc/glm.git
[submodule "libs/_libs_src/assimp"]
	path = libs/_libs_src/assimp
	url = https://github.com/assimp/assimp.git
